In [1]:
import urllib.request
import json
import sys
import codecs
import io
import pandas as pd
import numpy as np
from scipy.linalg import eigh, inv
import matplotlib.pyplot as plt
import matplotlib
from __future__ import print_function
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

In [2]:
#Upload the file
uploader = widgets.FileUpload(multiple=False)
display(uploader)

FileUpload(value={}, description='Upload')

In [4]:
uploaded_file = list(uploader.value.values())[0]

In [5]:
#Convert uploaded file to pandas data frame
dfTCPA = pd.read_csv(io.BytesIO(uploaded_file["content"]))

In [9]:
#Get gene names to be used in graph later
geneList = dfTCPA.columns[4:dfTCPA.index.stop]

#Define the cutoff for significant gene/protein expression
SIGEXPR = 0.45

#Create final dataframe to hold significant gene/protein expression
corrJak2Df = pd.DataFrame()
corrStat3Df = pd.DataFrame()

In [10]:
#Calculate correlation for each column in TCPA with respect to JAK2
#Will turn this into a function later
for col in geneList: 
    corrCoeff = dfTCPA["JAK2"].corr(dfTCPA[col])
    if(abs(corrCoeff) > SIGEXPR and col != "JAK2"):
        dfHolder = pd.DataFrame(data=[col, corrCoeff])
        corrJak2Df = pd.concat([dfHolder, corrJak2Df], axis=1)
        
#Calculate correlation for each column in TCPA with respect to STAT3
for col in geneList: 
    corrCoeff = dfTCPA["STAT3_pY705"].corr(dfTCPA[col])
    if(abs(corrCoeff) > SIGEXPR and col != "STAT3_pY705"):
        dfHolder = pd.DataFrame(data=[col, corrCoeff])
        corrStat3Df = pd.concat([dfHolder, corrStat3Df], axis=1)

In [11]:
#Output final result so far
corrJak2Df

,0,0,0,0,0,0,0,0,0
0,NRF2,LCN2A,PI3KP85,TUBERIN,STATHMIN,STAT5ALPHA,MTOR,MRE11,ATM
1,-0.46625,-0.464228,0.458117,0.505792,-0.49182,0.665408,0.468928,-0.456898,0.523329

In [12]:
corrStat3Df

,0,0,0,0,0,0,0,0
0,THYMIDILATESYNTHASE,SHP2_pY542,GSK3_pS9,MTOR_pS2448,GSK3ALPHABETA_pS21S9,CAVEOLIN1,AKT_pS473,X4EBP1
1,-0.455796,0.45508,0.487995,0.488616,0.466608,0.456366,0.526362,-0.490331